.flex-container{
    width: 80%;
    margin: 0 auto;
  
}
body{
    background-image: url(image3.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    color:#996666;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbarright{
    float: right;
}

ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: darkred ;
    transition: 0.3s;
    font-size: 20px;
}
.active {
    background-color: #4CAF50;
}
/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}
.form1{margin: auto; 
    text-align: center;
    padding: 14px 16px;
}


section#copyright{
	background-color:black;
	color:#fff;
	font-size:10px;
		
}
.button{
    border: 1px solid silver;
    color: #333;
    padding: 5px;
    width: 80px
    
}
