.borders{
    border: 0px solid black;
}
.main-container {
    width: 80%;
    padding: 5px;
    margin :0 auto;  
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbarright{
    float: right;
}

ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: darkred ;
    transition: 0.3s;
    font-size: 20px;
}
.active {
    background-color: #4CAF50;
}
/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}
.form1{margin: auto; 
    text-align: center;
    padding: 14px 16px;
}

.table1{
    float:right;
    margin-top:5%;
    width: 70%;
    margin-right:5%;
    border: 1px solid black;
     border-collapse: collapse; 
     background-color:rgb(245, 218, 236);
}
td,th{

    padding: 2%;
    font-family: cursive;
    font-size: 15px;
    border-bottom:1px solid black;
}
.profile{
    float: left;
    width: 10%;
    margin-top: 5%;
}
#timedate{
    font: outline;
}

/* h3{
    border: 0px solid black;
    width: 50%;
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva;
} */
.button{
    border: 1px solid silver;
   background-color:olivedrab;
    padding: 5px;
    width: 80px;  
    border-radius:12px; 
    font-size: 25px; 
    margin-left:2%;  
    align-self: auto;
                                            
}
section#copyright{
	background-color:black;
	color:#fff;
	font-size:10px;		
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size:50px;
}
.form2{
border: 5px solid black;
border-radius: 8px;
}